.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;}

@media (min-width: 768px) {.bd-placeholder-img-lg {font-size: 3.5rem;}}

.btn { margin:4px; padding:0;}
input {padding:0;margin:0;}
label {width:100%;;padding:0;margin:0;}